<br/>
<br/>
<br/>
<table>
    <tr>
        <td>Username : </td><td><input type="text" name="username" [(ngModel)]="username"></td>
    </tr>
    <tr>
        <td>Password : </td><td><input type="text" name="password" [(ngModel)]="password"></td>
    </tr>
    <tr>
        <td>Confirm password : </td><td><input type="password" name="password2" [(ngModel)]="password2"></td>
    </tr>
    
    <tr>
        <td>Telephone :</td><td><input type="text" name="telephone" [(ngModel)]="telephone"></td>
    </tr>
    
    <tr>
        <td>E-mail : </td><td><input type="email" name="email" [(ngModel)]="email"></td>
    </tr>
    
    
        
    <tr *ngIf="showkorisnik">
        <td>
            Firstname :</td><td> <input type="text" name="firstname" [(ngModel)]="firstname">
        </td>
    </tr>
    <tr *ngIf="showkorisnik">
        <td>
            Lastname :</td><td> <input type="text" name="lastname" [(ngModel)]="lastname">
        </td>
    </tr>

        
    
        <tr *ngIf="showagency">
            <td>Agency name :</td>
            <td> <input type="text" name="agname" [(ngModel)]="agname"></td>
        </tr>
        <tr *ngIf="showagency"> <td>Address(STATE,CITY,STREET) : </td></tr>
        <tr *ngIf="showagency"><td>STATE : </td><td> <input type="text" name="state" value="state" [(ngModel)]="state"></td></tr>
        <tr *ngIf="showagency"><td>CITY : </td><td> <input type="text" name="city" value="city" [(ngModel)]="city"></td></tr>
        <tr *ngIf="showagency"><td>STREET : </td><td> <input type="text" name="street" value="street" [(ngModel)]="street"></td></tr>
        <tr *ngIf="showagency"><td> Street Number :</td><td><input type="number" name="snumber" [(ngModel)]="snumber"></td></tr>
        <tr *ngIf="showagency">
            <td>PIB :</td><td> <input type="text" name="mbroj" [(ngModel)]="PIB"></td>
        </tr>
        <tr *ngIf="showagency">
            <td>Description :</td><td> <input type="text" name="description" [(ngModel)]="desc"></td>
        </tr>
   

</table>

<br/>
<br/>
<div class="center-div">
Upload picture:<input type="file" (change)="selectFile($event)">
</div>
<br/>
<div *ngIf="showkorisnik" class="center-div">
    <button class="button-10" (click)="addUser()">Dodaj</button>
</div>
<br/>  
<div *ngIf="showagency" class="center-div">
    <button class="button-10" (click)="addAgency()">Dodaj</button>
</div>  
<p style="color: red;"> {{message}}</p>